* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-weight: normal;
}

body {
    background-color: black;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

@main-color: rgb(68, 81, 98);

// === Header ===
.header {
    display: flex;
    justify-content: space-between;
    min-height: 324px;
    padding: 48px;
    color: white;
    background-color: @main-color;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: 60px;
        line-height: 60px;
    }
    &__list {
        padding-left: 30px;
        
        li {
            font-size: 20px;
            line-height: 36px;
            position: relative;
            list-style-type: none;

            &::before {
                width: 26px;
                height: 20px;
                position: absolute;
                top: 0px;
                left: -26px;
                content: '\2713'
            }
        }
    }

    &__img {
        flex-basis: 480px;
        flex-shrink: 0;
        height: 214px;
        margin-left: 48px;
        background-color: white;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 16px;
        flex-direction: column;

        &__img {
            flex-basis: auto;
            flex-shrink: 1;
            margin-left: 0;
            margin-bottom: 16px;
        }

        &__text {
            order: 1;
            align-items: center;
        }
    }
}
/// === Header ===

// === About ===
.about {
    min-height: 346px;
    padding: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    &__content-text {
        width: 660px;
    }
    &__title {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 36px;
        color: @main-color;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        color: @main-color;

        p:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__img {
        flex-basis: 430px;
        flex-shrink: 0;
        height: 246px;
        margin-left: 48px;
        background-color: @main-color;
    }
}
@media (max-width: 1024px) {
    .about {
        padding: 16px;
        flex-direction: column;

        &__img {
            flex-basis: auto;
            flex-shrink: 1;
            margin-left: 0;
            margin-top: 16px;
            margin-bottom: 16px;
            order: 1;
        }

        &__content-text {
            align-items: center;
            width: auto;
        }
        &__title {
            text-align: center;
        }
    }
}
/// === About ===

// === Pluses ===
.pluses {
    min-height: 420px; // предварительно
    padding: 48px;
    color: @main-color;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-size: 30px;
        align-self: center;
        padding-bottom: 24px;
    }
    &__items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 22px;
    }
    &__item {
        display: flex;

        &_1 {
            grid-row: 1;
            grid-column: 1;
        }
        &_2 {
            grid-row: 1;
            grid-column: 2;
        }
        &_3 {
            grid-row: 2;
            grid-column: 1;
        }
        &_4 {
            grid-row: 2;
            grid-column: 2;
        }
        &_5 {
            grid-row: 3;
            grid-column: 1;
        }
        &_6 {
            grid-row: 3;
            grid-column: 2;
        }
    }
    &__icon {
        width: 32px;
        height: 32px;
        margin-top: 4px;
        background-color: @main-color;
        flex-basis: 32px;
        flex-shrink: 0;
        color: white;
        font-size: 44px;
        text-align: center;
        line-height: 32px;
    }
    &__text {
        padding-left: 10px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .pluses {
        padding: 16px;

        &__items {
            display: flex;
            flex-direction: column;
        }
    }
}
/// === Pluses ===

// === Screenshots ===
.screenshots {
    min-height: 488px;
    padding: 48px;
    color: @main-color;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        padding-bottom: 24px;
        font-size: 30px;
        align-self: center;
    }
    &__items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 16px;
    }

    &__item {
        display: flex;

        &_1 {
            grid-row: 1;
            grid-column: 1;
        }
        &_2 {
            grid-row: 1;
            grid-column: 2;
        }
        &_3 {
            grid-row: 2;
            grid-column: 1;
        }
        &_4 {
            grid-row: 2;
            grid-column: 2;
        }
    }
    &__screen {
        flex-basis: 200px;
        height: 150px;
        flex-shrink: 0;
        align-items: stretch;
        background-color: @main-color;
    }
    &__text {
        flex-grow: 1;
        margin-left: 16px;
    }
    &__image-title {
        font-size: 24px;
        line-height: 30px;
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 1024px) {
    .screenshots {
        padding: 16px;

        &__items {
            display: flex;
            flex-direction: column;
        }
    }
}
/// === Screenshots ===

// === Reviews ===
.reviews {
    min-height: 424px;
    padding: 48px;
    color: @main-color;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-size: 30px;
        align-self: center;
        padding-bottom: 24px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
        row-gap: 24px;
    }
    &__item {
        position: relative;

        &_1 {
            grid-row: 1;
            grid-column: 1;
        }
        &_2 {
            grid-row: 1;
            grid-column: 2;
        }
        &_3 {
            grid-row: 2;
            grid-column: 1;
        }
        &_4 {
            grid-row: 2;
            grid-column: 2;
        }

    }

    &__description {
        padding: 16px;
        flex-grow: 0;
        margin-left: 100px;
        background-color: rgb(235, 235, 235);

        &::before {
            position: absolute;
            left: 0px;
            top: 0px;
            content: '';
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background-color: @main-color;
        }
        &::after {
            position: absolute;
            left: 76px;
            top: 28px;
            content: '';
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-right-color: rgb(235, 235, 235);
        } 
    }
    &__text {
        font-size: 14px;
        line-height: 18px;
        font-style: italic;
    }
    &__name {
        font-size: 14px;
        line-height: 18px;
        color: rgb(153, 153, 153);
    }
}

@media (max-width: 768px) {
    .reviews {
        padding: 16px;

        &__items {
            display: flex;
            flex-direction: column;
        }
    }
}
/// === Reviews ===

// === Buy ===
.buy {
    min-height: 656px;
    padding: 48px;
    color: @main-color;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__card {
        flex-basis: 300px;
        border: 2px solid @main-color;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: @main-color;

        &-list {
            padding-left: 30px;
        }

        &-title,
        &-price,
        &-btn,
        a  {
            align-self: center;
        }

        &-title {
            height: 54px;
            font-size: 24px;
            line-height: 54px;
        }

        &-price {
            height: 68px;
            width: 100%;
            font-size: 40px;
            line-height: 68px;
            text-align: center;
            color: @main-color;
            background-color: white;
        }

        &-list {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 16px;
            font-size: 14px;
            line-height: 24px;
        }

        &-btn {
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            font-weight: bold;
            text-align: center;
            color: @main-color;
            background-color: white;
            cursor: pointer;
            border-radius: 4px;
        }

        &:not(:first-child) {
            margin-left: 34px;
        }

        a {
            width: 100%;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            text-decoration: none;
        }
    }
}

@media (max-width: 768px) {
    .buy {
        padding: 16px;

        &__title {
            padding-bottom: 36px;
        }
        &__items {
            flex-direction: column;
        }
        &__cards {
            flex-direction: column;
            align-items: center;
        }

        &__card:not(:first-child) {
            margin-left: 0px;
            margin-top: 16px;
        }
    }
}
/// === Buy ===

// === Footer ===
.footer {
    &__main {
        min-height: 534px;
        padding: 48px;
        color: white;
        background-color: @main-color;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
    &__content {
        display: flex;
        justify-content: center;
        height: 480px;
    }
    .form {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__item {
            padding-left: 10px;
            flex-basis: 42px;
            border: none;
            border-radius: 6px;

            &_message {
                flex-grow: 1;
                padding-top: 14px;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        .btn_send {
            width: 140px;
            align-self: center;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            text-align: center;
            padding: 0;
            color: @main-color;
            cursor: pointer;
        }
    }
    .footer__links {
        margin-left: 46px;
    }

    .contact-links {

        &__items {
            display: flex;
            align-items: center;
            margin-bottom: 18px;

            img {
                width: 26px;
                height: 26px;
                background-color: white;
            }

            span {
                font-size: 16px;
                line-height: 24px;
                margin-left: 6px;
            }
        }
    }

    .social-links {
        padding-top: 18px;

        a {
            text-decoration: none;
        }
    }
    .social-links__item {
        display: inline-block;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: white;
        margin-right: 4px;
    }
    &__copyright {
        color: @main-color;
        background-color: white;
        height: 26px;
        font-size: 12px;
        line-height: 26px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .footer {
        
        &__main {
            padding: 16px;
        }
        &__content {
            min-height: 680px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .form {
            margin-left: 0;
            width: auto;
            height: 400px;
            margin-bottom: 48px;
        }
    }
}
@media (max-width: 768px) {
    .footer {

        &__content {
            display: flex;
            flex-direction: column;
        }

    }
}
/// === Footer ===
