* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: rosybrown;
}
#body {
    margin: 0 auto;
    width: 1080px;
}
.main-header {
    height: 160px;
    background-color: maroon;
    margin-bottom: 8px;
}
.main-header__main-header{
    color: white;
    font-size: 80px;
    line-height: 160px;
    text-align: center;
}
.section {
    background-color: white;
    margin-bottom: 8px;
}
.section__section-header {
    background-color: maroon;
    color: white;
    font-size: 32px;
    text-align: center;
    height: 64px;
    line-height: 64px;
}
.section-item {
    padding: 8px;
}
.section-item__section-item-header {
    background-color: lightgrey;
    color: black;
    font-size: 24px;
    text-align: center;
    height: 56px;
    line-height: 56px;
}
.text {
    font-size: 16px;
    color: black;
    margin: 8px;
}
.display {
    font-size: 16px;
    background-color: #333;
    color: lightgreen;
    font-family: monospace;
    padding: 16px;
    margin: 8px 0;
}
strong {
    font-size: 18px;
    color: maroon;
}
.command-list {
    list-style-type: none;
}