* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em;
}
*,
::before,
::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.page-body {
  background-color: #222222;
}
.page-header {
  background-color: steelblue;
  display: grid;
  grid-template-columns: 56px 1fr 56px;
  grid-template-areas: "button title .";
}
.page-header__button {
  padding-left: 22px;
  font-size: 32px;
  height: 56px;
  line-height: 56px;
  color: white;
  transition: all 0.2s ease-in-out;
  grid-area: button;
}
.page-header__button:hover {
  color: black;
}
.page-header__title {
  color: white;
  font-size: 32px;
  font-family: monospace;
  min-height: 56px;
  line-height: 56px;
  text-align: center;
  grid-area: title;
}
.items-list {
  max-width: 1080px;
  margin: 8px auto;
}
.items-list__item {
  margin-bottom: 4px;
  font-size: 22px;
  font-family: monospace;
  text-align: center;
  height: 48px;
  line-height: 48px;
  width: 100%;
  color: white;
  background-color: steelblue;
  transition: all 0.3s ease-in-out;
}
.items-list__item:hover {
  color: black;
}
.page-main {
  max-width: 1080px;
  margin: 8px auto;
  padding: 6px;
  background-color: white;
}
.screen {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #222;
  box-shadow: 0 0 8px 1px grey inset;
  font-size: 16px;
  font-family: monospace;
  overflow: auto;
}
.screen_pre {
  color: lightpink;
  text-shadow: 0 0 4px lightpink;
}
.screen_post {
  color: lightgreen;
  text-shadow: 0 0 4px lightgreen;
}
.paragraph {
  padding: 8px;
  margin: 0 0 16px 16px;
  font-size: 18px;
}
strong {
  font-size: 20px;
  font-family: monospace;
  color: maroon;
}
.subitems-list__item {
  margin: 4px;
  padding: 8px;
  font-family: monospace;
  font-size: 24px;
  color: white;
  background-color: steelblue;
  text-align: center;
}
.section-header {
  min-height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
  color: white;
  background-color: steelblue;
}
.subsection-header {
  margin-bottom: 8px;
  min-height: 36px;
  line-height: 36px;
  font-size: 20px;
  font-family: monospace;
  font-weight: normal;
  text-align: center;
  color: steelblue;
  border: 2px solid steelblue;
}
