* {
  margin: 0;
  padding: 0;
  font-size: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  background-color: #222;
}
.nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item img {
  width: 15vh;
  height: 15vh;
}
.nav__item:not(:first-child) {
  margin-top: 3vh;
}
.other {
  display: block;
  width: 15vh;
  height: 15vh;
  font-size: 20vh;
  line-height: 15vh;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
}
@media all and (min-width: 1024px) {
  .nav {
    flex-direction: row;
  }
  .nav__item {
    transition: transform 0.3s ease-in-out;
  }
  .nav__item:hover {
    transform: scale(1.2, 1.2);
  }
  .nav__item:not(:first-child) {
    margin-top: 0;
    margin-left: 3vw;
  }
}
