* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}
body {
  font-family: 'Lato', sans-serif;
  color: #414141;
}
.section-inner {
  width: 1180px;
  margin: 0 auto;
}
.description-item__icon {
  margin-bottom: 20px;
}
.description-item__icon img {
  width: 128px;
  height: auto;
}
.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.description-item_text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #6c6c6c;
}
.btn-base {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  padding: 16px 32px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.btn-base_active {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  padding: 16px 32px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.btn-base_unactive {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  padding: 16px 32px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #414141;
  background: none;
  background-color: white;
  border: 1px solid #6c6c6c;
}
.btn-base_basic {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  padding: 16px 32px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #414141;
  background: none;
  background-color: white;
}
.header {
  color: white;
  background: url('../img/bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
.header::before {
  width: 100%;
  height: 100vh;
  content: '';
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(20, 39, 41, 0.6);
}
.header-inner {
  height: 100vh;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.header-logo {
  font-weight: bold;
  font-size: 24px;
  flex-shrink: 1;
  padding-top: 35px;
}
.header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-wrapper {
  margin: 0 auto;
}
.header-wrapper__title,
.header-wrapper__subtitle {
  text-align: center;
}
.header-wrapper__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 16px;
}
.header-wrapper__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 44px;
}
.header-wrapper__form {
  display: flex;
}
.header-wrapper__form-input {
  padding-right: 40px;
  flex-grow: 1;
}
.header-wrapper__form-input input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-size: 16px;
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  padding: 16px 20px;
  outline: none;
  border-radius: 4px;
}
.header-wrapper__form-input input::placeholder {
  color: white;
}
.header-wrapper__form-input input:focus {
  background: rgba(255, 255, 255, 0.5);
}
.section-promo {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-promo-1 {
  display: flex;
  align-items: center;
}
.section-promo-1__content,
.section-promo-1__video {
  flex-basis: 50%;
}
.section-promo-1__content {
  padding-right: 90px;
}
.section-promo-1__content .title {
  font-size: 36px;
  line-height: 51px;
  font-weight: bold;
  margin-bottom: 56px;
}
.section-promo-1__content .description-item {
  margin-top: 28px;
}
.section-promo-1__video img {
  width: 100%;
  height: auto;
}
.section-promo-2 {
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
}
.section-promo-2 .description-item {
  text-align: center;
}
.section-promo-2 .description-item + .description-item {
  margin-left: 40px;
}
.section-founder {
  background-color: #f6fafd;
  padding-top: 34px;
}
.section-founder .section-inner {
  display: flex;
}
.section-founder__img {
  align-self: flex-end;
}
.section-founder__img img {
  width: 480px;
  height: auto;
}
.section-founder__content {
  align-self: center;
  padding-left: 50px;
}
.section-founder__content-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 40px;
}
.section-founder__content-name {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}
.section-founder__content-post {
  font-size: 20px;
  line-height: 29px;
}
.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.section-plans__title {
  font-size: 36px;
  line-height: 51px;
  font-weight: bold;
}
.section-plans__subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 auto 80px;
  width: 50%;
}
.section-plans__list {
  display: flex;
  justify-content: center;
}
.section-plans__list-item {
  flex-basis: 370px;
  padding: 60px 45px;
}
.section-plans__list-item-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.section-plans__list-item-price {
  margin-bottom: 26px;
}
.section-plans__list-item-price .prefix {
  color: #fe4fa7;
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
}
.section-plans__list-item-price .postfix {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.section-plans__list-item-description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 40px;
}
.section-plans__list-item.active {
  background-color: #f6fafd;
}
.section-free {
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  color: white;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-free__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 26px;
}
.section-free__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 50%;
  margin: 0 auto 40px;
}
.footer {
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer__logo {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
.footer__nav li {
  list-style-type: none;
}
.footer__nav li + li {
  margin-left: 60px;
}
.footer__nav li a {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
  text-decoration: none;
}
.footer__nav li a.active {
  color: #fe50a6;
}
.footer__copyright_and_links {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  width: 60%;
  margin: 0 auto;
}
.footer-inner {
  width: 1180px;
  margin: 0 auto;
}
.helper-links {
  display: flex;
}
.helper-links li {
  list-style-type: none;
}
.helper-links li + li {
  margin-left: 20px;
}
.helper-links li a {
  color: #464646;
  text-decoration: none;
}
